#!/usr/bin/env bash
# -*-shell-script-*-

install_packages_script="$HOME/.local/share/chezmoi/nix/install_packages.sh"

sh <(curl -L https://nixos.org/nix/install) --no-daemon --no-modify-profile

{{ if .at_work -}}
bash "$install_packages_script" --work
{{ else -}}
bash "$install_packages_script"
{{ end -}}
