encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1c5clhzgaeshgetv26jvsxk3vnr9kasgqrvx4yuaveepfzevllplqam7axy"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[data]
{{- $work_profile := false }}
{{- $on_work_computer := lower .chezmoi.fqdnHostname | hasSuffix "mathworks.com" }}
{{- if $on_work_computer }}
{{- $yes_no := list "yes" "no" }}
{{- $res := promptChoice "Install work profile" $yes_no }}
{{- $work_profile = eq $res "yes" }}
{{- end }}
    work_profile = {{ $work_profile }}
{{- $possible_shells := list "fish" "bash" }}
{{- $shell := promptChoice "What shell to use" $possible_shells }}
    shell = {{ $shell | quote }}
