encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1c5clhzgaeshgetv26jvsxk3vnr9kasgqrvx4yuaveepfzevllplqam7axy"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[data]
    work_profile = {{ lower .chezmoi.fqdnHostname | hasSuffix "mathworks.com" }}
{{- $possible_shells := list "fish" "bash" }}
{{- $shell := promptChoice "What shell to use" $possible_shells }}
    shell = {{ $shell | quote }}
