#!/usr/bin/env bash
# -*-shell-script-*-

install_script="$HOME/.local/share/chezmoi/nix/install_nix.sh"

export PATH=$HOME/.nix-profile/bin:$PATH

{{- if .at_work }}
EXTRA_OPTIONS="-w"
{{- end }}
bash "$install_script" "$EXTRA_OPTIONS"
