#!/usr/bin/env bash

. "$COMMON_SCRIPT_PATH"

main() {
    welcome "Shell configuration"

    {{- if eq .shell "fish" }}
    log "Installing fish shell"
    sudo apt-get update
    sudo apt-get install fish -y
    {{- if .work_profile }}
    exit # does not work on work computer
    {{- end }}
    log "Running chsh"
    chsh -s /usr/bin/fish
    {{- end }}
}

main "${@}"
