#!/usr/bin/env bash
# -*-shell-script-*-

set -e

readonly BLUE='\e[0;34m'
readonly YELLOW='\e[0;33m'
readonly GREEN='\e[0;32m'
readonly RED='\e[0;31m'
readonly RESET='\e[0m'

info() {
    printf "${BLUE}%s${RESET}\n" "${*}"
}
log() {
    printf "${YELLOW}>> %s${RESET}\n" "${*}"
}
success() {
    printf "${GREEN}>> %s${RESET}\n" "${*}"
}
error() {
    printf "${RED}>> %s${RESET}\n" "${*}" 1>&2
}

main() {
    info "********************************************************************"
    info "*** Install nix                                                  ***"
    info "********************************************************************"

    install_script="$HOME/.local/share/chezmoi/nix/install_nix.sh"

    export PATH=$HOME/.nix-profile/bin:$PATH

    {{- if .work_profile }}
    EXTRA_OPTIONS="-w"
    {{- end }}
    bash "$install_script" "$EXTRA_OPTIONS"
}

main "${@}"
