#!/usr/bin/env bash

. "$COMMON_SCRIPT_PATH"

main() {
    welcome "Shell configuration"

    {{- if eq .shell "fish" }}
    SELECTED_SHELL="/usr/bin/fish"
    SHELL_PACKAGE="fish"
    {{- else if eq .shell "bash" }}
    SELECTED_SHELL="/bin/bash"
    SHELL_PACKAGE=""
    {{- end }}

    if grep "$USER" /etc/passwd | grep "$SELECTED_SHELL" > /dev/null; then
        success "Nothing to do"
        exit
    fi

    if test ! -x "$SELECTED_SHELL"; then
        log "Installing $SHELL_PACKAGE shell"
        sudo apt-get update
        sudo apt-get install $SHELL_PACKAGE -y
    fi
    if grep "$USER" /etc/passwd >/dev/null; then
        log "Running chsh for $SELECTED_SHELL"
        chsh -s "$SELECTED_SHELL"
    else
        log "Cannot run chsh, user not in /etc/passwd"
    fi
}

main "${@}"
