#!/usr/bin/env bash

. "$COMMON_SCRIPT_PATH"

main() {
    if test -f "$CHEZMOI_CONFIG_PATH/key.txt"; then
        exit
    fi

    log "Decrypting private key.."
    mkdir -p "$CHEZMOI_CONFIG_PATH"
    chezmoi age decrypt --output "$CHEZMOI_CONFIG_PATH/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    if test $? -ne 0; then
        error "Failed to decrypt private key"
        exit 1
    fi
    chmod 600 "$CHEZMOI_CONFIG_PATH/key.txt"
    success "Private key decrypted successfuly"
}

main "${@}"
